* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #d8d9d3;
  color: #1a1a1a;
  overflow-x: hidden;
  position: relative;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

@media (min-width: 2000px) {
  html {
    font-size: 20px;
  }
}

@media (min-width: 2560px) {
  html {
    font-size: 24px;
  }
}
